<div class="container d-flex justify-content-center">
    <div class="row align-items-center">
        <h1 class="text-center">Inscription</h1>
      <form [formGroup]="formulaire" (ngSubmit)="onInscription()">
  
        <div class="col text-center">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            @if(formulaire.get("email")?.hasError("required")) {
              <mat-error>L'email est requis</mat-error>
            }
            @if(formulaire.get("email")?.hasError("email")) {
              <mat-error>L'email est mal formé</mat-error>
            }
            @if(formulaire.get("email")?.hasError("emailExiste")) {
              <mat-error>Cette adresse email est déjà utilisée.</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col text-center">
          <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input type="password"
                  matInput
                  formControlName="password">
            <mat-error>Le mot de passe est requis</mat-error>
          </mat-form-field>
          <br>
          <button type="submit" mat-raised-button>S'inscrire</button> 
        </div>
      </form>
    </div>
  </div>